/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}



/* Video Content Search */

body {
    width: 260px;
    overflow-x: hidden;
    font-family: Arial;
    color: rgb(53,57,56);
    font-size: 15px;
}

div {
    margin: 6px;
}

ul {
    margin: 6px;
}

#search-form input {
    display: inline;
}

.tags-time {
    display: inline;
    width: 111px;
    margin-bottom: 3px;
}

/*rgb(237,237,242)*/

form.tags-form {
    background-color: rgb(237,237,242);
    padding: 6px;
    margin-bottom: 6px;
    border-radius: 6px;
}

hr {
    margin: 12px;
}

.hidden-submit {
    display: none;
}

.search-result {
    background-color: rgb(237,237,242);
    padding: 6px;
    height: 40px;
    border-radius: 6px;
    margin-left: 0px;
    margin-right: 0px;
}

.progress-bar {
    background-color: rgb(213,209,213);
    padding: 0px;
    margin: 0px;
    margin-top: 9px;
    width: 160px;
    height: 10px;
    cursor: pointer;
}

.progress-box {
    background-color: #e62117;
    padding: 0px;
    margin-top: -3px;
    width: 16px;
    height: 16px;
}

.score-container {
    float: right;
    margin-top: -4px;
}

.score {
    font-size: 22px;
}

.fui-triangle-up {
    cursor: pointer;
}

.fui-triangle-down {
    cursor: pointer;
}

#tag-now-btn {
    background-color: #e62117;
}

#tag-now-btn:hover {
        background-color: #cc181e;

}

#tag-now-btn:focus {
    background-color: #cc181e;
}

.form-control:focus {
    border-color: #e62117;
}

