<div class='search-result'>
    <div title='{{title}}' class='progress-bar'>
        <div class='progress-box'></div>
    </div>
    <div class='score-container'>
        <span class='fui-triangle-down'></span>
        <span class='score'> {{score}} </span>
        <span class='fui-triangle-up'></span>
    </div>
</div>